@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600;700&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  background-color: #F4F3F1;
  color: #27336b;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

h1,
p {
  text-align: center;
}

.container {
  padding: 2em;
  margin: 0.5em;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  background-color: #27336b;
}

.date-container {
  color: #80ecda;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

button {
  border: 0;
  border-radius: 50% 50%;
  height: 3em;
  width: 3em;
  margin: 1em;
  cursor: pointer;
  background-color: #F4F3F1;
  color: #27336b;
  font-family: "Roboto Slab", serif;
  font-size: 16px;
}

.changeColor {
  background-color: #80ecda;
  color: #27336b;
}